.counter-card {
  display: flex;
  justify-content: center;
}

.btn-counter {
  height: 20px;
  width: 20px;
  margin: 5px 0px;

  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.185);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-counter:hover {
    background-color: rgba(158, 158, 158, 0.404);
}

.count-numb {
    height: 20px;
    width: 20px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}